* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
}

body {
    background-color: black;
    background: radial-gradient(circle, #434343 0%, #1d1d1d 50%, #000000 100%);
    color: white;
}

header, footer {
   /* background-color: #000000; */
    color: white;
    padding: 10px 0;
    width: 100%;
    height: 75px;
}

header {
    position: relative;
}

header h1 {
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
}

section {
   /* background-color: #f4f4f4;
    background-color: #343434; */
    padding: 20px;
    margin: 20px auto;
    text-align: center;
}

section p {
    margin: 0 auto;
    width: 80%;
}

.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    background-image: url('../images/metalchain.png');
    background-size: 90% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery div {
    position: relative;
    margin: 10px;
    height: 200px;
    transition: .5s;
}

.gallery img {
    height: 200px;
    aspect-ratio: 3/4;
    transition: .5s;
}

.gallery div p {
    text-align: center;
    margin: 0;
    background-color: #00000093;
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: .5s;
}

 .gallery div:hover img, .gallery div:hover {
    transform: scale(1.1);
 }

.gallery div:hover p {
    display: none;
}

.questionnaire a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
}

.questionnaire a img {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

.questionnaire a:hover {
    text-decoration: underline;
    transition: .5s;
}

.icon {
    width: 30px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: white;
    transition: .5s;
    padding: .5rem
}

footer a:hover {
    color: blue;
}

@media screen and (max-width: 1000px) {
    footer {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    footer h3 {
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 12px;
    }
}